<div class="modal fade" id="coursesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Video Courses for <span id="modal-ys"></span></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="courses-list" class="list-group">
                    <!-- populated by JS -->
                </div>
            </div>
        </div>
    </div>
</div>
